.gridContainer {
  width: 70vw;
  height: 40vw;
  margin: 30px auto;
  padding: 20px 50px;
  display: grid;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: scroll;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-areas:
    "image header header header"
    "side main main main";
}

.gridImage {
  grid-area: image;
  width: 1fr;
}

.gridHeader {
  grid-area: header;
  font-size: 60px;
}

.gridSide {
  grid-area: side;
}
.gridMain {
  grid-area: main;
}
