.form {
  display: flex;
  width: 50vw;
  flex-direction: column;
  box-shadow: 3px 3px 5px #999999;
  padding: 30px;
  margin: 20px auto;
}

.form > label {
  margin: 10px;
}

.form > label > input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.form > label > textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.saveChangesButton {
  background-color: rgb(157, 202, 161);
  border-radius: 0;
  border: none;
  color: white;
  padding: 0.3rem;
  width: 25%;
}

.saveChangesButton:hover {
  background-color: rgb(114, 146, 117);
}
