.gridContainer {
  width: 70vw;
  height: 40vw;
  margin: 30px auto;
  padding: 20px 50px;
  display: grid;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-x: scroll;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-areas:
    "image header header header"
    "side main main main";
}

/* ---------------------------- */
.userImage {
  grid-area: image;
  width: 100%;
}

.gridHeader {
  grid-area: header;
  font-size: 60px;
}

.gridSide {
  grid-area: side;
}
.gridMain {
  grid-area: main;
}

/* ---------------------------- */
.button {
  background-color: rgb(157, 202, 161);
  border-radius: 0;
  border: none;
  color: white;
  padding: 0.3rem;
}

.button:hover {
  background-color: rgb(114, 146, 117);
}

/* ---------------------------- */
.list {
  list-style-type: none;
  padding-left: 10px;
}

.listItem {
  color: grey;
  text-decoration: none;
}

.listItem:hover {
  background-color: rgb(157, 202, 161);
  color: white;
}

.listItem::before {
  content: "\2022";
  padding-right: 5px;
  font-size: 10px;
}
