.scrollableContainer {
  overflow-y: scroll;
  position: relative;
}

/* FRONT GRID: PRODUCES */
.produceGrid {
  padding: 20px;
  display: grid;
  width: 400vw;
  margin-top: 30px;
  grid-template-columns: repeat(24, 1fr);
  grid-row-gap: 10px;
}

.produceGridItem {
  background-color: rgb(184, 184, 184);
  color: white;
  height: 30px;
  text-align: center;
}

.produceGridItem > a {
  color: white;
  text-decoration: none;
}

/* BACK GRID: MONTHS */
.monthGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  width: 400vw;
  height: 100%;
  grid-row-gap: 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  background-image: linear-gradient(
    to right,
    rgb(210, 242, 252),
    rgb(224, 253, 208),
    rgb(253, 250, 208),
    rgb(253, 213, 208),
    rgb(210, 242, 252)
  );
}

.monthGridItem {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  border-left: 2px solid rgb(255, 255, 255, 0.8);
}

.filterMenu {
  position: fixed;
  width: 10vw;
  margin: -20px 0 0 10px;
  padding: 10px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}
